:root {
  --rosa-katie: #7e024e;
  --amarelo-katie: #fdd54f;
  --cinza-katie: #1f1f24;
  --rosa-claro: #EF5AA7;
  --branco:  #ffffff;
  --primary: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px Arial, sans-serif;
  color: #ffffff;
}
